@font-face {
    font-family: "edwardian";
    src: url("Edwardian_Scr_ITC_TT.ttf");
 }

body{
    margin: 0;
}

header {
    background-color: #ffc73b;
    padding: 20px 0 0 0;
}

header .logo{
    float: left;
    width: 230px;
    margin: -10px 0 0 100px;
    padding: 0;
}

#nav_menu {
    background-color: #281200;
    padding: 0 0 6px 0;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    border-top: 37.5px solid #ffc73b;
}

#nav_menu ul{
    list-style-type: none;
    overflow: hidden;
    padding: 10px 0 6px 30px;
}

#nav_menu ul li{
    float: left;
    
}

#nav_menu ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffc73b;
}

#nav_menu ul li a:hover{
    color: white;
}

#nav_menu ul li .current{
    color: white;
}

h1, h2{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif
}

main h1{
    position: absolute;
    top: 35%;
    color:#b55200;
    margin: 0 0 0 3em;
    font-size: 270%;
}

main h2{
    position: absolute;
    top: 32%;
    left:42%;
    color:#281200;
    font-size: 130%;
}

main p{
    font-family: "edwardian";
    color: #281200;
    margin: 5em 6em 1em 4em; 
    font-size: 200%;
    font-weight: bold;
}

.bold{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    color: #ffc73b;
    font-weight: none;
}

main img{
    position: absolute;
    right:0;
    width: 40%;
    margin: 1em 0 0 0;
}

footer {
    background-color: #281200;
    text-align: center;

}

footer p{
    padding: .2em 0;
    color: white;
}
.container{
    width: 50em;
    height: 50em;
    border-radius: 25em;
    background-color:transparent;
    margin: 2em 0 0 0;
    float: right;
    shape-outside: 
    /* url(../img/coffeeupclose);  */
    circle(58%);
  }
  
  .shaped{
    max-width: 100%;
  }

  footer{
    background-color: #281200;
    color: white;
    text-align: center;
    padding: .2em 0;
}