@font-face {
    font-family: "edwardian";
    src: url("Edwardian_Scr_ITC_TT.ttf");
 }

body{
    margin: 0;
}

header{
    background-color: #ffc73b;
    padding: 2%;
}

html body header .logo{
    float: left;
    width: 16%;
    margin: -1.4% 0 0 5%;
}

#nav_menu{
    background-color: #281200;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#nav_menu ul{
    list-style-type: none;
    overflow: hidden;
    margin-left: 2%;
}

#nav_menu ul li{
    float: left;
}

#nav_menu ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffc73b;
}

#nav_menu ul li a:hover{
    color: white;
}

#nav_menu ul li .current{
    color: white;
}

#main_headerlayout h1, h2{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif
}

#main_headerlayout h1{
    position: absolute;
    /* top: 35%; */
    color:#b55200;
    margin: 2% 0 0 5%;
    font-size: 270%;
}

#main_headerlayout h2{
    position: absolute;
    margin: 2% 0 0 45%;
    color:#281200;
    font-size: 130%;
}

main img{
    float: left;
    margin: 3%;
}

.container{
    width: 15em;
    height: 15em;
    border-radius: 17.5em;
    background-color: #281200;
    margin: 10% 0 5% 35%;
    overflow: hidden;
    text-align: center;
    float: left;
    shape-inside: circle(50%);
  }
  
.shaped{
    max-width: 50%;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.shaped p{
    margin: 35% 0 0 55%;
}

iframe{
    float: right;
    margin: 10% 15% 2% 0;
}

footer{
    background-color: #281200;
    color: white;
    text-align: center;
    padding: .2% 0;
    clear: both;
}