@font-face {
    font-family: "edwardian";
    src: url("Edwardian_Scr_ITC_TT.ttf");
 }

body{
    margin: 0;
}

header{
    background-color: #ffc73b;
    padding: 2%;
}

html body header .logo{
    float: left;
    width: 16%;
    margin: -1.4% 0 0 5%;
}

#nav_menu{
    background-color: #281200;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#nav_menu ul{
    list-style-type: none;
    overflow: hidden;
    margin-left: 2%;
}

#nav_menu ul li{
    float: left;
}

#nav_menu ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffc73b;
}

#nav_menu ul li a:hover{
    color: white;
}

#nav_menu ul li .current{
    color: white;
}

/* make slider?*/
#artisancoffee{
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
}

#artisancoffee h3 .button{
    border: 2px solid white;
    padding: 1% 2%;
    text-align: center;
    float:right;
    display: block;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    margin-right: -20%;
    margin-top: -10%;
}

#artisancoffee h3 .button:hover{
    border: 2px solid #b55200;
    background-color: white;
    color:#b55200;
}

#artisancoffee h2{
    float:right;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 340%;
    margin-top: -15%;
    margin-right: -25%;
}

#artisancoffee h3{
    float:right;
    text-decoration: none;
    color: white;
    font-family: "edwardian";
    font-size: 220%;
    margin-right: -40%;
}
/* make slider2*/
#artisancoffee2{
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
}

#artisancoffee2 h3 .button{
    border: 2px solid white;
    padding: 1% 2%;
    text-align: center;
    float:left;
    display: block;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    margin-left: -4%;
    margin-top: -10%;
}

#artisancoffee2 h3 .button:hover{
    border: 2px solid #b55200;
    background-color: white;
    color:#b55200;
}

#artisancoffee2 h2{
    float:left;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 340%;
    margin-top: -25%;
    margin-left: -28%;
}

#artisancoffee2 h3{
    float: left;
    text-decoration: none;
    color: white;
    font-family: "edwardian";
    font-size: 220%;
    margin-left: -60%;
}

#grubhub{
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    background-color: #281200;
}

#grubhub img{
    width: 100%;
}

#grubhub h1{
    position: absolute;
    left: 10%;
    top: 18%;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
}

#grubhub p{
    position: absolute;
    left: 10%;
    top: 38%;
    font-family: "edwardian";
    font-size: 225%;
}

#grubhub #button{
    position: absolute;
    left: 15%;
    top: 60%;
    border: 2px solid white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 220%;
}
#grubhub #button:hover{
    position: absolute;
    border: 2px solid #b55200;
    background-color: white;
    color:#b55200;
}

#grubhub #button a:hover{
    color:#b55200;
}

#grubhub h2{
    position: absolute;
    left: 55%;
    top: 2%;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 190%;
}

#grubhub .clip{
   position: absolute;
   left: 50%;
   top: 11%;
   width: 45%;
   height:auto;

}
html body footer{
    background-color: #281200;
    color: white;
    text-align: center;
    padding: .2% 0;
    clear: both;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
    