@font-face {
    font-family: "edwardian";
    src: url("Edwardian_Scr_ITC_TT.ttf");
 }

body{
    margin: 0;
}

header{
    background-color: #ffc73b;
    padding: 2%;
}

html body header .logo{
    float: left;
    width: 16%;
    margin: -1.4% 0 0 5%;
}

#nav_menu{
    background-color: #281200;
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#nav_menu ul{
    list-style-type: none;
    overflow: hidden;
    margin-left: 2%;
}

#nav_menu ul li{
    float: left;
}

#nav_menu ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffc73b;
}

#nav_menu ul li a:hover{
    color: white;
}

#nav_menu ul li .current{
    color: white;
}

/* top sellers section */

#topsellers{
    background-image: url("../img/menu.jpg");
    height: 100%;
}    

#topsellers h2{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    color: #ffc73b;
    text-align: center;
    margin: 0 5% 0 5%;
    padding: 1.5% 0 0 0; 
}

#topsellers p{
    text-align: center;
    font-size: 200%;
    font-family: "edwardian";
    letter-spacing: 2px;
    font-weight: bold;
}

/* menu */
#main_menu {
    background-color: #f7c499;
    margin: 0;
    height: auto;
}

#main_menu h2{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    color: #281200;
    text-align: center;
    margin: 0 5% 1.5% 5%;
    padding: 1.5% 0 0 0; 
}
#main_menu table{
    margin: 0 15% 0 15%;
}

#main_menu table th{
    font-family: "edwardian";
    font-size: 290%;
    letter-spacing: 5px;
    color: white;
    background-color: #281200;
    padding: 1%;
    
}
#main_menu table tr td:nth-child(1){
    background-color: white;
    font-weight: bold;
    text-align: center;
    border:2px solid #281200;
    padding: 2%;
}
#main_menu table tr:nth-child(6) td:nth-child(1) {
    background-color: transparent;
    border:none;
    padding: 2%;
}

#main_menu table th:nth-child(1){
    padding: 0 5%;
    font-size: 190%;
}

#main_menu table tr:nth-child(5) td:nth-child(2){
    background-color: transparent;
    text-align: center;
    border:none;
    padding: 1%;
}

#main_menu table tr td:nth-child(2){
    background-color: #b55200;
    text-align: center;
    border:2px solid #281200;
    padding: 1%;
}

#main_menu table tr td:nth-child(3){
    background-color: white;
    font-weight: bold;
    text-align: center;
    border:2px solid #281200;
    padding: 2%;
}

#main_menu table tr td:nth-child(6){
    background-color: transparent;
    text-align: center;
    border:none;
    padding: 1%;
}

/* artisan photo layout */
#artisan{
    background-image: url("../img/background.jpg");
    background-position: center;
    background-color: #9e948c;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    height: 1536px;
}

#artisan h2{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 700%;
    color: white;
    text-align: center;
    margin: 0 5% 1.5% 5%;
    padding: 1.5% 0 0 0; 
}

#artisan #pone{
    text-align: left;
    color: white;  
} 

#artisan #pthree{
    text-align: right;
    color: white;
}

#artisan #pfour{
    text-align: left;
    color: white;
}

#artisan #hot{
    color: red;
}

#artisan #cold{
    color: blue;
}
#artisan #design{
    font-family: "edwardian";
    font-size: 500%;
    width: 10%;
    height: 5.34%;
    color: white;
}

#artisan #bold{
    font-family: 'Franklin Gothic heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 500%;
    width: 10%;
    height: 5.34%;
    color:#ffc73b;
}

footer{
    background-color: #281200;
    color: white;
    text-align: center;
    padding: .2% 0;
    clear: both;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }